* {
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
  }
  
  .logo,
  .exemplo {
    width: 60%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .exemplo {
    background: #f9eed9;
    padding: 5px;
  }
  
  code {
    font-size: 0.8em;
  }
  
  pre {
    margin: 0 0 -30px;
  }
  
  code.html::before {
    content: 'HTML';
    display: block;
    background: black;
    color: white;
    padding: 1px 5px;
  }
  
  code.css::before {
    content: 'CSS';
    display: block;
    background: black;
    color: white;
    padding: 1px 5px;
  }
  
  /*
  Itens não relacionados ao exemplo
  */
  
  /* Faixa fixa na lateral*/
  .faixa {
    background-color: #000;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    right: -58px;
    top: 20px;
    transform: rotate(45deg);
    box-shadow: 0 0 10px #888;
  }
  .faixa a {
    border: 1px solid #888;
    color: #fff;
    display: block;
    font: bold 0.7em monospace;
    margin: 1px 0;
    padding: 8px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
  }
  
  /* Menu */
  .menu {
    position: fixed;
    top: 20px;
    left: 0;
  }
  .menu a {
    display: block;
    font-family: monospace;
    text-decoration: none;
    cursor: pointer;
    font-size: 10px;
  }
  .titulo {
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .menu a:not(.titulo) {
    background: dimgray;
    margin-top: 8px;
    padding: 5px 0 5px 15px; 
    text-align: right;
    position: relative;
    min-width: 145px;
    left: -115px;
    color: white;
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .menu i {
    padding: 0 10px;
    margin-left: 10px;
  }
  
  .menu a:not(.titulo):hover {
    transform: translatex(115px);
    background: darkgray;
    color: black;
  }
  
  .menu .ativo {
    transform: translatex(115px);
  }
  
  /**/